<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>

        <!-- TODO: make parameters configurable -->
        <parameter key="symfony_cmf_content.document">Symfony\Cmf\Bundle\ContentBundle\Document\StaticContent</parameter>
        <parameter key="symfony_cmf_content.static_basepath">/cms/content/static</parameter>

    </parameters>

</container>
