<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>

        <!-- TODO: make this path configurable -->
        <parameter key="symfony_cmf_core.mainmenu_basepath">/cms/navigation/main</parameter>
        <parameter key="symfony_cmf_core.content_basepath">/cms/content</parameter>
        <parameter key="symfony_cmf_core.filestore_basepath">%kernel.root_dir%/../../web/filestore</parameter>
        <parameter key="symfony_cmf_core.filestore_relative_basepath">filestore</parameter>

    </parameters>

</container>
