<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>

        <parameter key="symfony_cmf_multilang_content.default_lang">en</parameter>
        <parameter key="symfony_cmf_multilang_content.lang_preference" type="collection">
            <parameter key="en" type="collection">
                <parameter>en</parameter>
                <parameter>de</parameter>
            </parameter>
            <parameter key="de" type="collection">
                <parameter>de</parameter>
                <parameter>en</parameter>
            </parameter>
        </parameter>
        <parameter key="symfony_cmf_multilang_content.lang_meta" type="collection">
            <parameter key="de" type="collection">
                <parameter key="fullname">Deutsch</parameter>
                <parameter key="completion">utsch</parameter>
            </parameter>
            <parameter key="fr" type="collection">
                <parameter key="fullname">Français</parameter>
                <parameter key="completion">ançais</parameter>
            </parameter>
            <parameter key="en" type="collection">
                <parameter key="fullname">English</parameter>
                <parameter key="completion">glish</parameter>
            </parameter>
            <parameter key="it" type="collection">
                <parameter key="fullname">Italiano</parameter>
                <parameter key="completion">aliano</parameter>
            </parameter>
        </parameter>

    </parameters>

</container>
