<ul class="service languageselector">
    {% for code, langinfo in languageUrls %}
        <li
            {% if code == app.session.locale %}
                class="selected"
            {% endif %}
        ><a href="{{ langinfo.url }}" title="{{ langinfo.fullname }}">{{ code|capitalize }}<span>{{ langinfo.completion }}</span></a>
            {% if code == app.session.locale %}
                <span>current language</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
