<div class="cmf-childlist">
    <ul>
        {% for url, title in children %}
            <li><a href="{{  path(routename, {'url': url}) }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
</div>
