<div class="cmf-menu">
    {# see HierarchyWalker::getMenu() for documentation on the nested array structure you get here #}
    {# TODO: handle case skiproot=false #}
    {% include "SymfonyCmfNavigationBundle:NavigationRenderer:menulevel.html.twig" with {'menu': root} %}
</div>