div.cmf-breadcrumb a, div.cmf-menu a, div.cmf-childlist a {
    color: #1a1a1a;
}

div.cmf-breadcrumb ul {
    margin: 0px;
    padding: 0px;

}
/* show breadcrumb on one line */
div.cmf-breadcrumb li {
    display: inline;
    margin: 0px;
    padding: 0px;
    margin-right: 6px;
}
/* separate items with a > */
div.cmf-breadcrumb li:after {
    content: ' >';
}
/* but show nothing after the last entry */
div.cmf-breadcrumb li:last-child:after {
    content: '';
}

div.cmf-menu a {
    text-decoration: none;
    border: solid grey 1px;
}

/* each level of menu will margin by additional 8px */
div.cmf-menu ul {
    margin: 0px;
    padding: 0px;
    margin-left: 8px;
}
/*
 * have top level points in one row */
div.cmf-menu > ul > li {
    float: left;
    padding-right: 8px;
}
div.cmf-menu {
    overflow: auto;
    width: 100%;
    padding-bottom: 4px;
    padding-top: 4px;
}
/*
 * you can add something for this pattern to have nicer menus
 * i.e. use the children/nochildren classes to indicate with the bullet whether
 * this entry is a leave or has children
 */
div.cmf-menu li {
    display: block;
    margin: 0px;
    padding: 0px;
}
/* make first level nodes bigger */
div.cmf-menu > ul {
    font-size: 1.2em;
}
div.cmf-menu > ul li ul {
    font-size: 0.8em;
}
/* make selected menu entries bold */
div.cmf-menu li.selected {
    font-weight: bold;
}
/* hide unselected menu entries */
div.cmf-menu li.unselected {
    display: none;
}
/* except for root nodes and siblings of selected nodes */
div.cmf-menu li.selected > ul > li.unselected, div.cmf-menu > ul > li.unselected {
    display: block;
}
