<ul id="skiplinks">
    <li><a href="#main">Go to main content</a></li>
    <li><a href="#navigation">Go to main navigation</a></li>
</ul>

<h1 id="logo-text"><a href="/">Symfony2 CMF Sandbox</a></h1>
<p id="slogan">Symfony2 Content Management Framework</p>
