<h2 class="offset">Main navigation</h2>

{{ knp_menu_render('main') }}

{% set currentItem = knp_menu_get('main').currentItem %}
{% if currentItem %}
<div class="cmf-breadcrumb">
    <ul>
        {% for title, url in currentItem.breadcrumbsArray %}
            <li><a href="{{url}}">{{ title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

