<div class="cmf-breadcrumb">
    <ul>
        {% if knp_menu_get('main').currentItem %}
        {% for title, url in knp_menu_get('main').currentItem.breadcrumbsArray %}
            <li><a href="{{url}}">{{ title }}</a></li>
        {% endfor %}
        {% endif %}
    </ul>
</div>

<h2 class="offset">Main navigation</h2>

{{ knp_menu_render('main') }}
