<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ title }} | CMF Sandbox{% endblock %}</title>

        {% block includes %}
            <link href="/bundles/symfonycmfcore/css/style.css" media="screen" type="text/css" rel="stylesheet" />
        {% endblock %}

        {% block top_scripts %}
        {% endblock %}
    </head>
    <body>
        <div id="header">
            {% block header %}
                {% include "SymfonyCmfCoreBundle:Default:header.html.twig" %}
            {% endblock %}
        </div>
        <div id="language_selector">
            {% block language_selector %}
                {% render "symfony_cmf_multilang_content.languageSelectorController:languagesAction" with {"id" : page.path, "languageUrls": languageUrls|default(false) } %}
            {% endblock %}
        </div>
        <div id="navigation">
            {% block navigation %}
                {% include "SymfonyCmfCoreBundle:Default:navigation.html.twig" %}
            {% endblock %}
        </div>
        <div id="content">
            <div class="inner">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div id="content_extra">
            <div class="inner">
                {% block content_extra %}
                {% endblock %}
            </div>
        </div>

        <div id="footer">
            <div class="inner">
                {% block footer %}
                    {% include "SymfonyCmfCoreBundle:Default:footer.html.twig" %}
                {% endblock %}
            </div>
        </div>

        {% block bottom_scripts %}
        {% endblock %}
    </body>
</html>
