<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>CMF Sandbox - Treeview test</title>

        <link href="/bundles/ideatotree/css/jquery.treeview.css" media="screen" type="text/css" rel="stylesheet" />

        <script src="/bundles/sonatajquery/jquery-1.4.4.js" type="text/javascript"></script>

        <script src="/bundles/ideatotree/js/jquery.cookie.js" type="text/javascript"></script>
        <script src="/bundles/ideatotree/js/jquery.treeview.js" type="text/javascript"></script>
        <script src="/bundles/ideatotree/js/jquery.treeview.edit.js" type="text/javascript"></script>
        <script src="/bundles/ideatotree/js/jquery.treeview.async.js" type="text/javascript"></script>
        
        <script type="text/javascript">
            function initTrees() {
                $("#tree").treeview({
                    url:    "/phpcrbrowser/children",
                    toggle: function() {
                        $.ajax({
                            url: "/phpcrbrowser/properties",
                            dataType: "json",
                            data: {
                                root: this.id
                            },
                            success: function(response) {
                                $("#properties").empty()
                                $.each(response, function (index, property) {
                                    $("#properties").append(
                                        '<tr><td>' + this.name + '</td><td>' + this.value + '</td></tr>'
                                    );
                                });
                            }
                        });
                    }
                })
            }
            $(document).ready(function(){
                initTrees();

            });
        </script>

    </head>
    <body>

        <ul id="tree">
        </ul>
        
        <table border="1" id="properties"></table>

        <hr/>

        This is Symfony2! Yuk yuk!
    </body>
</html>
